<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nott.admin.mapper.SysPermissionMapper">

    <select id="getPermissionByUserId" resultType="org.nott.model.SysPermission">
        SELECT t3.* FROM sys_user_role t1
                             LEFT JOIN sys_role_permission t2
                                       on t1.role_id = t2.role_id
                             LEFT JOIN sys_permission t3
                                       on t2.permission_id = t3.id
        where t1.user_id = #{loginId}
    </select>

</mapper>
