<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nott.service.mapper.SysRoleMapper">

    <select id="getRoleByUserId" resultType="org.nott.model.SysRole">
        SELECT t1.* FROM  sys_role t1
         LEFT JOIN sys_user_role t2 on t1.id = t2.role_id
        where t2.user_id = #{loginId}
    </select>

</mapper>
