<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nott.service.mapper.SysUserMapper">

    <select id="getUserByUsername" resultType="org.nott.model.SysUser">
        select * from sys_user where username = #{username} and ( is_lock is null or is_lock = 0)
    </select>

</mapper>
