@font-face {
  font-family: "element-icons"; /* Project id 4756150 */
  src: url('iconfont.woff2?t=1732262802985') format('woff2'),
       url('iconfont.woff?t=1732262802985') format('woff'),
       url('iconfont.ttf?t=1732262802985') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-waidai1:before {
  content: "\e6cc";
}

.el-icon-tangshidingdan:before {
  content: "\e62f";
}

