<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nott.service.mapper.api.BizUserPackageMapper">

    <select id="selectUserPackageByUserId" resultType="org.nott.vo.UserPackageVo">
        select t1.*, t2.actually_amount as singleActuallyAmount, t2.item_name,t2.expect_make_time as expectMakeTime
        from biz_user_package t1
                 LEFT JOIN biz_item t2
                           on t1.item_id = t2.id
        where t1.user_id = #{userId}
    </select>

    <delete id="removeByUserId" parameterType="long">
        delete from biz_user_package where user_id = #{userId}
    </delete>

</mapper>
