<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nott.service.mapper.BizPayOrderMapper">

    <select id="selectOrderMoney" resultType="string">
        select total_amount
        from biz_pay_order
        where order_status = 2
    </select>

    <select id="orderFrontQueryByOrderId" resultType="org.nott.vo.FrontOrderVo">
        <![CDATA[
        SELECT count(1)        as orderCount,
               sum(item_piece) as pieceCount,
               sum(wait_time)  as waitTime
        FROM biz_pay_order
        WHERE id != #{orderId}
          AND settle_time <= #{settleTime}
          AND TO_DAYS( settle_time ) = TO_DAYS( #{settleTime})
          AND order_status = 2
        ]]>
    </select>

    <select id="queryOrderPageByUserId" resultType="org.nott.vo.MyPayOrderVo">
        SELECT
            t1.*,
            t2.address,
            t2.shop_name
        FROM
            biz_pay_order t1
                LEFT JOIN biz_shop_info t2 ON t1.shop_id = t2.id
        WHERE
            user_id = #{id}
        <if test="status != null and status != ''">
            and order_status = #{status}
        </if>
    </select>
</mapper>
